/* .left-side-bar-main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
} */

.left-side-bar-icon-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.left-side-bar-container {
  color: inherit;
  text-decoration: none;
}
