.login-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0px 2px 4px #954519;
  width: 500px;
  height: 400px;
  border-radius: 5px;
  padding: 2rem;
}

.login-main-container h2 {
  margin-bottom: 2rem;
  font-size: var(--font-xl);
  text-transform: capitalize;
  color: var(--text-primary);
}

.login-header-container {
  font-size: var(--font-l);
  text-transform: capitalize;
  text-align: center;
}

.login-user-nmae-container {
  display: flex;
  flex-direction: column;
  text-align: start;

  gap: 0.5rem;
}
.login-user-name-container label {
  font-size: var(--font-m);
  text-transform: capitalize;
}
.login-user-name-container input {
  padding: 0.5rem;
  width: 100%;
  border: 1px solid black;
}

.login-password-container {
  display: flex;
  flex-direction: column;
  text-align: start;

  gap: 0.5rem;
}

.login-password-container label {
  font-size: var(--font-m);
  text-transform: capitalize;
}

.login-password-container input {
  padding: 0.5rem;
  width: 100%;
  border: 1px solid black;
}

.login-btn-primary {
  width: 100%;
  padding: 0.5rem 4rem;
}

.login-btn-secondary {
  width: 100%;
  padding: 0.5rem 4rem;
}

.new-account-container {
  text-align: center;
}

.new-account-container span {
  margin-right: 0.5rem;
}

.create-account-link {
  text-decoration: none;
}
